.marker {
    width: 5vh;
    height: 2vh;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #FAFAFA;
    color: #000;
    font-size: 1vh;
    font-weight: bold;
    cursor: pointer;
    transition: .16s ease-in;
}

.marker:hover {
    width: 7vh;
    height: 4vh;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #FAFAFA;
    color: #000;
    font-size: 1vh;
    font-weight: bold;
    cursor: pointer;
}

.categories {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 10px;
    height: 30px;
    position: absolute;
    top: 10px;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.categories .category {
    width: 4vh;
    height: 1vh;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    background: #80c7ff;
    color: #FAFAFA;
    font-size: 1vh;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}